// import MUI colors
@import "../bower_components/mui/src/sass/mui/colors";

// customize MUI variables
$mui-primary-color:       mui-color('blue-grey', '500');
$mui-primary-color-dark:  mui-color('blue-grey', '700');
$mui-primary-color-light: mui-color('blue-grey', '100');

$mui-accent-color:        mui-color('cyan', 'A200');
$mui-accent-color-dark:   mui-color('cyan', 'A100');
$mui-accent-color-light:  mui-color('cyan', 'A400');

// import MUI SASS
@import "../bower_components/mui/src/sass/mui";
